<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_TSTimesheetSubmissionService">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_TSTimesheetApprovalService">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://ad-ctp-10-38eb6867baef10230aos.cloudax.dynamics.com/soap/services/TSTimesheetServices"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_TSTimesheetSubmissionService"
                contract="ServiceReference1.TSTimesheetSubmissionService"
                name="BasicHttpBinding_TSTimesheetSubmissionService" />
            <endpoint address="https://ad-ctp-10-38eb6867baef10230aos.cloudax.dynamics.com/soap/services/TSTimesheetServices"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_TSTimesheetApprovalService"
                contract="ServiceReference1.TSTimesheetApprovalService" name="BasicHttpBinding_TSTimesheetApprovalService" />
        </client>
    </system.serviceModel>
</configuration>